#title {
    font-family: 'Comfortaa', sans-serif;
    height:45px;
    color: rgb(136, 136, 136);
    margin:0px;
    letter-spacing: 2.5px;
    text-shadow: 0px 3px 0px #ddd;
}
#title a {
    color: inherit;
    text-decoration: none;
}
header span {
    font-size:0.8em;
}
#waveviewer {
    position:fixed;top:0;left:0;width:100%;height:100%;
}
#body {
    position:absolute;top:0;left:0;margin:10px;
    font-family: 'Helvetica Neue', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
}
#contents {
    margin: 0px 10px;
}
#contents div {
    font-size: 14px;
    line-height: 21px;
    margin-left: 10px;
}

h3 {
    font-size:18px;
    margin: 40px 0px 15px 0px;
}
.prettyprint {
    margin-top:0px;padding:10px !important;background:rgba(255,255,255,0.75);
    font-family: 'Courier New', monospace; font-weight: bold;
}
ul {
    list-style:none;
    margin:0;padding:0px;
}
a {
    color: rgba(  0, 128, 255, 0.8);
}
footer {
    color: #999; margin:30px 0px;
}